<h1>Rumbl Users</h1>

<table>
  <thead>
    <tr>
      <td><strong>User ID</strong></td>
      <td><strong>User First Name</strong></td>
      <td><strong>Actions</strong></td>
    </tr>
  </thead>
  <%= for user <- @users do %>
    <tr>
      <td><%= user.id %></td>
      <td><%= first_name(user) %></td>
      <td><%= link "View", to: Routes.user_path(@conn, :show, user.id) %></td>
    </tr>
  <% end %>
</table>