<h1>Create Rumbl Account</h1>
<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Sorry, something went wrong! Please fix the errors below.</p>
  </div>
<% end %>
<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
  <div>
    <%= text_input f, :name, placeholder: "Full Name" %>
    <%= error_tag f, :name %>
  </div>
  <div>
    <%= text_input f, :username, placeholder: "Display Name / Username" %>
    <%= error_tag f, :username %>
  </div>
  <%= submit "Create Account" %>
<% end %>