<h1>Rumbl User Detail View</h1>

<table>
  <thead>
    <tr>
      <td>User ID</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Username</td>
    </tr>
  </thead>
  <tr>
    <td><%= @user.id %></td>
    <td><%= first_name(@user) %></td>
    <td><%= last_name(@user) %></td>
    <td><%= @user.username %></td>
  </tr>
</table>
<div>
  <%= link "View All Users", to: Routes.user_path(@conn, :index) %>
</div>